<div class="row">
  <div class="span12">
  	<h4>Notifications</h4>
	  <table class="table ">
	  <tbody>
	    <tr class="">
	      <td>You have 3 new event invitations. <a href="#">Respond.</a></td>
	    </tr>
	    <tr class="">
	      <td>You have 5 new group messages. <a href="#">Read.</a></td>
	    </tr>
	    <tr class="">
	      <td>You have 8 new direct messages. <a href="#">Read.</a></td>
	    </tr>
	  </tbody>
		</table>
  </div>
</div>
<div class="row">
  <div class="span3">
  	<h2 class="page-header">Prayer</h2>
  	<p class="center"><a class="bignum" href="#" data-toggle="collapse" data-target="#prayers">14</a> new prayer requests this week.</p>
  	<div id="prayers" class="collapse">
	  	<h4>Latest prayer requests</h4>
			<blockquote>
			  <p>Praise God for His provision in our time of need!</p>
			  <small><a href="#">Sally Somebody</a> in <a href="#">Sometown</a></small>
			</blockquote>
			<blockquote>
			  <p>Going through some tough trials right now. Please pray that God...</p>
			  <small><a href="#">Joe Plumber</a> in <a href="#">Podunk</a></small>
			</blockquote>
			<a href="#">More...</a>
  	</div>
  </div>
  <div class="span3">
  	<h2 class="page-header">Attendence</h2>
		<p class="center"><a class="bignum" href="#" data-toggle="collapse" data-target="#attenders">192</a> average attenders in past 4 weeks.</p>
  	<div id="attenders" class="collapse">
	  	<h4>Attendence stats</h4>
			<p>204 attenders last Sunday.</p>
			<p>27 new attenders.</p>
			<a href="#">More...</a>
  	</div>
  </div>
  <div class="span3">
  	<h2 class="page-header">Giving</h2>
		<p class="center"><a class="bignum" href="#" data-toggle="collapse" data-target="#finances">$10,123</a> below 2012 budget.</p>
  	<div id="finances" class="collapse">
	  	<h4>Giving stats</h4>
			<p>$8,972 given this week.</p>
			<p>70% of members gave in past month.</p>
			<a href="#">More...</a>
  	</div>
  </div>
  <div class="span3">
  	<h2 class="page-header">Worship</h2>
  	<h4>Next sermon</h4>
		<blockquote>
			<p><a href="#" data-toggle="collapse" data-target="#service">Why Marriage Matters</a></p>
		  <small><a href="#">Pastor Ryan Huguley</a> in <a href="#"><em>Sex, Love, and Marriage</em></small>
		</blockquote>
  	<div id="service" class="collapse">
			<a class="btn btn-danger btn-small" href="#">Download service order</a>
			<a class="btn btn-small" href="#">Edit</a>
  	</div>
  </div>
</div>
<div class="row">
  <div class="span3">
  	<h2 class="page-header">Membership</h2>
  	<div class="row">
      <img src="http://placehold.it/75x75" class="img-rounded span1" />
      <div class="span2">
	    	<p><a href="#"><strong>Joe Plumber</strong></a></p>
	    	<div class="progress progress-danger member">
				  <div class="bar" style="width: 60%;"></div>
				</div>
	    	<em><small>Next step: <a href="#">Schedule</a> interview</small></em>
      </div>
  	</div>
  	<hr />    	
  	<div class="row">
      <img src="http://placehold.it/75x75" class="img-rounded span1" />
      <div class="span2">
	    	<p><a href="#"><strong>Susan Somebody</strong></a></p>
	    	<div class="progress progress-danger member">
				  <div class="bar" style="width: 75%;"></div>
				</div>
	    	<em><small>Next step: <a href="#">Interview</a> on 8/25</small></em>
      </div>
  	</div>
  	<hr />    	
		<a href="#">More...</a>
  </div>
  <div class="span3">
  	<h2 class="page-header">Groups</h2>
		<p class="center"><a class="bignum" href="#" data-toggle="collapse" data-target="#groups">63%</a>of attenders in community groups.</p>
  	<div id="groups" class="collapse">
	  	<h4>Group stats</h4>
			<p>12% increase in involvement in past year.</p>
			<p>110 in 12 groups led by 24 leaders.</p>
			<a href="#">More...</a>
  	</div>
		<p class="center"><a class="bignum" href="#" data-toggle="collapse" data-target="#teams">71%</a>of attenders on missional teams.</p>
  	<div id="teams" class="collapse">
	  	<h4>Team stats</h4>
			<p>8% increase in involvement in past year.</p>
			<p>123 in 11 groups led by 9 leaders.</p>
			<a href="#">More...</a>
  	</div>
  </div>
  <div class="span3">
  	<h2 class="page-header">Events</h2>
  </div>
  <div class="span3">
  	<h2 class="page-header">Serving</h2>
  </div>
</div>