<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li><%= link_to 'Dashboard', dashboard_path %></li>
      <li class="nav-header">Manage</li>
      <li><%= link_to 'Users', manage_users_path %></li>
      <li><%= link_to 'Groups', manage_groups_path %></li>
    </ul>
  </div><!--/.well -->
</div><!--/span-->