<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li><%= link_to 'Dashboard', admin_path %></li>
      <li class="nav-header">Manage</li>
      <li><%= link_to 'Users', manage_users_path %></li>
      <li><%= link_to 'Community Groups', manage_community_path %></li>
      <li><%= link_to 'Missional Teams', manage_mission_path %></li>
    </ul>
  </div><!--/.well -->
</div><!--/span-->