<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Manage</li>
      <li><%= link_to 'Users', 'admin/users' %></li>
    </ul>
  </div><!--/.well -->
</div><!--/span-->