<div class="row-fluid">
  <div class="span12">
  	<div class="page-header">
    <%= link_to "New User", new_user_path, class: 'btn btn-info pull-right' %>
    <h1>Manage Users</h1>
  	</div>
    <table class="table">
      <thead>
        <th>Users</th>
      </thead>
      <% User.asc(:name).each do |user| %>
        <tr>
          <td><%= link_to user.name, user_path(user.username) %>
          <% if user.member %> <span class="label label-important">Member</span><% end %>
          <% if user.role == :leader %> <span class="label label-success">Leader</span><% end %>
          <% if user.role == :elder %> <span class="label label-inverse ">Elder</span><% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
