<h2>{{ title }}</h2>
<tr>
	<td>
	<span class="pull-right">{{ date }}</span>
	<strong>From: </strong><a href="{{ sender_url }}">{{ sender_name }}</a>
	<br/><small>To: {{{recipients}}}</small>
	</td>
</tr>
<tr>
	<td>{{{ markdowned }}}</td>
</tr>
