<h1>Listing roles</h1>

<table class="table table-striped table-bordered">

<% @roles.each do |role| %>
  <tr>
    <td><%= link_to role.name, edit_role_path(role) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Role', new_role_path %>
