<h1>Missional Teams</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Missional Team</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @missional_teams.each do |missional_team| %>
      <tr>
        <td><%= missional_team.name %></td>
        <td>
          <%= link_to 'Edit', edit_missional_team_path(missional_team), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', missional_team_path(missional_team), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_missional_team_path, :class => 'btn btn-primary' %>
