h1.year {
	font-size:108px;
	margin-top:30px;
}

h3.month {
	font-size:42px;
	color:red;
}

h2.time {
	float:right;
	font-size:36px;
	text-align:right;
}

.calendar th {
	font-size:14px;
	font-weight:bold;
	border-top:1px solid #ccc;
}

.fc-grid .fc-day-number, .calendar td {
	float: left;
	font-size:24px;
	color:#999;
}
