
h1.year{
	font-size:108px;
	margin-top:30px;
}

h3.month{
	font-size:42px;
	color:red;
}

h2.time{
	float:right;
	font-size:36px;
	text-align:right;
}

.calendar{
}

.calendar th{
	font-size:14px;
	font-weight:bold;
	border-top:1px solid #ccc;
}

.calendar td{
	height:80px;
	width:80px;
	font-size:24px;
	color:#999;
}

.calendar td:hover { background-color:#f5f5f5; }

.calendar td.weekend{
	color:#CDCDCD;
}

.calendar td.today{
	background-color:#EFEFEF;
	color:#666666;
}

.calendar td.holiday{
	color:red;
}

.content{
	color:black;
	font-size:11px;
	line-height:0px;
}